In [83]:
library(tidyverse)

### HPI dataset - Housing Price Index

From https://www.fhfa.gov/DataTools/Downloads/Pages/Public-Use-Databases.aspx

FHFA dataset of housing indexes by national, state and MSA level

Notes:
- Will need to convert metro area place names to zip codes? Or conversely, look for zipcode mapping to MSA

In [84]:
tbl = read.csv('../../Data/HPI_master.csv', stringsAsFactors = F, header = T)

In [4]:
head(tbl)
head(tbl %>% filter(level == 'MSA'))

  hpi_type    hpi_flavor    frequency level
1 traditional purchase-only monthly   USA or Census Division
2 traditional purchase-only monthly   USA or Census Division
3 traditional purchase-only monthly   USA or Census Division
4 traditional purchase-only monthly   USA or Census Division
5 traditional purchase-only monthly   USA or Census Division
6 traditional purchase-only monthly   USA or Census Division
  place_name                  place_id yr   period index_nsa index_sa
1 East North Central Division DV_ENC   1991 1      100.00    100.00
2 East North Central Division DV_ENC   1991 2      100.93    101.00
3 East North Central Division DV_ENC   1991 3      101.31    100.92
4 East North Central Division DV_ENC   1991 4      101.71    101.00
5 East North Central Division DV_ENC   1991 5      102.32    101.36
6 East North Central Division DV_ENC   1991 6      102.79    101.51

  hpi_type    hpi_flavor       frequency level place_name  place_id yr   period
1 traditional all-transactions quarterly MSA   Abilene, TX 10180    1986 2
2 traditional all-transactions quarterly MSA   Abilene, TX 10180    1986 3
3 traditional all-transactions quarterly MSA   Abilene, TX 10180    1986 4
4 traditional all-transactions quarterly MSA   Abilene, TX 10180    1987 1
5 traditional all-transactions quarterly MSA   Abilene, TX 10180    1987 2
6 traditional all-transactions quarterly MSA   Abilene, TX 10180    1987 3
  index_nsa index_sa
1 108.26    NA
2 107.79    NA
3  94.57    NA
4 101.17    NA
5 100.40    NA
6  93.77    NA

In [85]:
unique((tbl %>% filter(level == 'MSA'))$yr)

 [1] 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
[16] 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
[31] 2016 2017 2018 2019 2020 2021 1976 1977 1978 1979 1980 1981 1982 1983 1984
[46] 1985 1975

In [8]:
dim(tbl)
unique(tbl$hpi_type)
unique(tbl$hpi_flavor)
unique(tbl$level)
unique(tbl$frequency)

[1] 115603     10

[1] "traditional"   "non-metro"     "distress-free" "developmental"

[1] "purchase-only"    "all-transactions" "expanded-data"

[1] "USA or Census Division" "MSA"                    "State"
[4] "Puerto Rico"

[1] "monthly"   "quarterly"

In [10]:
length(unique((tbl %>% filter(level == 'MSA'))$place_name))

[1] 404

### NCEI dataset of weather and climate disasters, 1980-2021

Downloaded from: https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:0209268

Note: only has >300 rows

In [11]:
tbl = read.csv('../../Data/NCEI_climate_disasters.csv', stringsAsFactors = F, header = T)

In [12]:
head(tbl)

  Name
1 Southern Severe Storms and Flooding (April 1980)
2 Hurricane Allen (August 1980)
3 Central/Eastern Drought/Heatwave (Summer-Fall 1980)
4 Florida Freeze (January 1981)
5 Severe Storms, Flash Floods, Hail, Tornadoes (May 1981)
6 Midwest/Southeast/Northeast Winter Storm, Cold Wave (January 1982)
  Disaster         Begin.Date End.Date
1 Flooding         19800410   19800417
2 Tropical Cyclone 19800807   19800811
3 Drought          19800601   19801130
4 Freeze           19810112   19810114
5 Severe Storm     19810505   19810510
6 Winter Storm     19820108   19820116
  Total.CPI.Adjusted.Cost..Millions.of.Dollars. Deaths
1  2445.4                                          7
2  2041.4                                         13
3 34669.2                                       1260
4  1767.5                                          0
5  1240.3                                         20
6  1887.3                                         85

In [13]:
unique(tbl$Disaster)

[1] "Flooding"         "Tropical Cyclone" "Drought"          "Freeze"
[5] "Severe Storm"     "Winter Storm"     "Wildfire"

### Worldwide election dataset

Downloaded from: http://www.electiondataarchive.org/data-and-documentation.php

This is a pretty extensive dataset of all national and local level elections, as well as information about the parties. Could be useful

In [15]:
# two .rdata files for lower chamber and upper chamber
load('../../Data/election_dataset/clea_lc_20201216.rdata')
load('../../Data/election_dataset/clea_uc_20190617.rdata')

In [16]:
ls()

[1] "clea_lc_20201216" "clea_uc_20190617" "tbl"

In [17]:
dim(clea_lc_20201216)
dim(clea_uc_20190617)

[1] 1105080      33

[1] 33341    33

In [18]:
lc_tbl = clea_lc_20201216
head(lc_tbl)
uc_tbl = clea_uc_20190617
head(uc_tbl)

  release id rg     ctr_n    ctr yr   mn sub  cst_n                     cst ...
1 1       1  Africa Botswana 72  1969 10 -990 bobirwa                   1   ...
2 1       1  Africa Botswana 72  1969 10 -990 bobirwa                   1   ...
3 1       1  Africa Botswana 72  1969 10 -990 bobirwa                   1   ...
4 1       1  Africa Botswana 72  1969 10 -990 boteli                    2   ...
5 1       1  Africa Botswana 72  1969 10 -990 boteli                    2   ...
6 1       1  Africa Botswana 72  1969 10 -990 francistown and tati east 3   ...
  pev2 vot2 vv2  ivv2 to2  cv2  cvs2 pv2  pvs2 seat
1 -990 -990 -990 -990 -990 -990 -990 -990 -990 0
2 -990 -990 -990 -990 -990 -990 -990 -990 -990 0
3 -990 -990 -990 -990 -990 -990 -990 -990 -990 1
4 -990 -990 -990 -990 -990 -990 -990 -990 -990 1
5 -990 -990 -990 -990 -990 -990 -990 -990 -990 0
6 -990 -990 -990 -990 -990 -990 -990 -990 -990 1

  release id rg            ctr_n     ctr yr   mn sub  cst_n        cst ... pev2
1 12      1  Latin America Argentina 32  2001 10 -990 BUENOS AIRES 1   ... -990
2 12      1  Latin America Argentina 32  2001 10 -990 BUENOS AIRES 1   ... -990
3 12      1  Latin America Argentina 32  2001 10 -990 BUENOS AIRES 1   ... -990
4 12      1  Latin America Argentina 32  2001 10 -990 BUENOS AIRES 1   ... -990
5 12      1  Latin America Argentina 32  2001 10 -990 BUENOS AIRES 1   ... -990
6 12      1  Latin America Argentina 32  2001 10 -990 BUENOS AIRES 1   ... -990
  vot2 vv2  ivv2 to2  cv2  cvs2 pv2  pvs2 seat
1 -990 -990 -990 -990 -990 -990 -990 -990 0
2 -990 -990 -990 -990 -990 -990 -990 -990 0
3 -990 -990 -990 -990 -990 -990 -990 -990 0
4 -990 -990 -990 -990 -990 -990 -990 -990 0
5 -990 -990 -990 -990 -990 -990 -990 -990 0
6 -990 -990 -990 -990 -990 -990 -990 -990 0

In [19]:
colnames(lc_tbl)

 [1] "release" "id"      "rg"      "ctr_n"   "ctr"     "yr"      "mn"
 [8] "sub"     "cst_n"   "cst"     "mag"     "pty_n"   "pty"     "can"
[15] "pev1"    "vot1"    "vv1"     "ivv1"    "to1"     "cv1"     "cvs1"
[22] "pv1"     "pvs1"    "pev2"    "vot2"    "vv2"     "ivv2"    "to2"
[29] "cv2"     "cvs2"    "pv2"     "pvs2"    "seat"

In [21]:
unlist(uc_tbl[1,])

                   release                         id
                      "12"                        "1"
                        rg                      ctr_n
           "Latin America"                "Argentina"
                       ctr                         yr
                      "32"                     "2001"
                        mn                        sub
                      "10"                     "-990"
                     cst_n                        cst
            "BUENOS AIRES"                        "1"
                       mag                      pty_n
                       "3" "FRENTE RENOVADOR POPULAR"
                       pty                        can
                    "5535"                     "-990"
                      pev1                       vot1
                 "9284915"                  "7155761"
                       vv1                       ivv1
                 "5510765"                  "1644996"
                       to1                        cv1
               "0.7706868"                     "-990"
                      cvs1                        pv1
                    "-990"                    "43349"
                      pvs1                       pev2
                  "0.0079"                     "-990"
                      vot2                        vv2
                    "-990"                     "-990"
                      ivv2                        to2
                    "-990"                     "-990"
                       cv2                       cvs2
                    "-990"                     "-990"
                       pv2                       pvs2
                    "-990"                     "-990"
                      seat
                       "0"

In [26]:
# also has metadata about parties - this is a pretty extensive dataset
library(readxl)
tbl1 = read_excel('../../Data//election_dataset/clea_lc_enp_20190617/clea_lc_enp_20190617_cst.level.xlsx')
tbl2 = read_excel('../../Data//election_dataset/clea_lc_enp_20190617/clea_lc_enp_20190617_national.level.xlsx')
tbl3 = read_excel('../../Data//election_dataset/clea_lc_enp_20190617/clea_lc_enp_20190617_party.level.xlsx')

In [28]:
head(tbl1)
dim(tbl1)
head(tbl2)
dim(tbl2)
head(tbl3)
dim(tbl3)

  id   ctr_n ctr yr   mn   cst_n            cst nvvi cvvi ENP_cst ...
1 -999 US    840 1788 -990 new hampshire    7   0    0    -990    ...
2 -999 US    840 1788 -990 pennsylvania     1   0    0    -990    ...
3 -999 US    840 1788 -990 south carolina 1 2   0    0    -990    ...
4 -999 US    840 1788 -990 south carolina 2 3   0    0    -990    ...
5 -999 US    840 1788 -990 south carolina 3 4   0    0    -990    ...
6 -999 US    840 1788 -990 south carolina 4 5   0    0    -990    ...
  inflation2 inflation3 inflation4 inflation5 PSNS PSNS_s    PSNS_w PSNS_sw
1 -990       -990       -990       -990       -990 0.7637005 -990   -990
2 -990       -990       -990       -990       -990 0.7637005 -990   -990
3 -990       -990       -990       -990       -990 0.7637005 -990   -990
4 -990       -990       -990       -990       -990 0.7637005 -990   -990
5 -990       -990       -990       -990       -990 0.7637005 -990   -990
6 -990       -990       -990       -990       -990 0.7637005 -990   -990
  local_E   cst_tot
1 0.6267806 293
2 0.6267806 293
3 0.6267806 293
4 0.6267806 293
5 0.6267806 293
6 0.6267806 293

[1] 179053     24

  id   ctr_n ctr yr   mn   cst_tot nvvi ENP_nat ENP_avg ENP_wght inflation1
1 -999 US    840 1788 -990 293     0    -990    -990    -990     -990
2 -999 US    840 1789 -990 293     0    -990    -990    -990     -990
3 -999 US    840 1790 -990 293     0    -990    -990    -990     -990
4 -999 US    840 1791 -990 293     0    -990    -990    -990     -990
5 -999 US    840 1792 -990 293     0    -990    -990    -990     -990
6 -999 US    840 1793 -990 293     0    -990    -990    -990     -990
  inflation2 inflation3 inflation4 PSNS          PSNS_s    PSNS_w
1 -990       -990       -990       -990.00000000 0.7637005 -9.900000e+02
2 -990       -990       -990          0.21873155 0.3872084  1.506056e-03
3 -990       -990       -990       -990.00000000 0.8583587  6.037055e-04
4 -990       -990       -990          0.16854841 0.4167238  1.435462e-03
5 -990       -990       -990       -990.00000000 0.3900414 -9.900000e+02
6 -990       -990       -990          0.07610942 0.1881750  2.176286e-03
  PSNS_sw       local_E
1 -9.900000e+02 0.62678060
2  1.447806e-05 0.23066576
3  1.298869e-14 0.33076881
4  4.952804e-06 0.32921911
5 -9.900000e+02 0.32228524
6  2.364432e-03 0.08333334

[1] 1926   19

  id   ctr_n ctr yr   mn   cst_tot pty_n       pty  PNS  PNS_s PNS_w PNS_sw
1 -999 US    840 1788 -990 293     independent 6001 -990 1     -990  -990
2 -999 US    840 1788 -990 293     independent 6002 -990 1     -990  -990
3 -999 US    840 1788 -990 293     independent 6003 -990 1     -990  -990
4 -999 US    840 1788 -990 293     independent 6004 -990 1     -990  -990
5 -999 US    840 1788 -990 293     independent 6005 -990 1     -990  -990
6 -999 US    840 1788 -990 293     independent 6006 -990 1     -990  -990

[1] 143055     12

### Behavioral Risk Factor Surveillance System (BRFSS) dataset

Downloaded from: https://www.cdc.gov/brfss/data_documentation/index.htm

The CDC datasets come in SAS format - data needs to be downloaded manually for each year, but it has data going back to 1985

This site has useful stats about many of the variables:
https://www.cdc.gov/brfss/annual_data/2019/pdf/codebook19_llcp-v2-508.HTML

In [31]:
library('haven')

Warning message:
"package 'haven' was built under R version 3.6.3"

In [33]:
tbl = read_xpt('../../Data/BRFSS_dataset/LLCP2019.XPT')

In [34]:
dim(tbl)
head(tbl)

[1] 418268    342

  _STATE FMONTH IDATE    IMONTH IDAY IYEAR DISPCODE SEQNO      _PSU
1 1      1      01182019 01     18   2019  1100     2019000001 2.019e+09
2 1      1      01132019 01     13   2019  1100     2019000002 2.019e+09
3 1      1      01182019 01     18   2019  1100     2019000003 2.019e+09
4 1      1      01182019 01     18   2019  1200     2019000004 2.019e+09
5 1      1      01042019 01     04   2019  1100     2019000005 2.019e+09
6 1      1      01182019 01     18   2019  1200     2019000006 2.019e+09
  CTELENM1 ... _VEGESU1 _FRTLT1A _VEGLT1A _FRT16A _VEG23A _FRUITE1 _VEGETE1
1 1        ... 114      1        1        1       1       0        0
2 1        ... 121      1        1        1       1       0        0
3 1        ... 164      1        1        1       1       0        0
4 1        ...  NA      9        9        1       1       1        1
5 1        ... 178      1        1        1       1       0        0
6 1        ...  NA      9        9        1       1       1        1
  _FLSHOT7 _PNEUMO3 _AIDTST4
1 2        1         2
2 1        1         2
3 1        2         2
4 9        9        NA
5 2        1         2
6 9        9        NA

### Behavioral Risk Factor Surveillance System (BRFSS) dataset - MSA level data

Downloaded from: https://www.cdc.gov/brfss/smart/Smart_data.htm

The BRFSS dataset also has mapped data from 2002-2019.

In [45]:
tbl1 = read_xpt('../../Data/BRFSS_dataset/MMSA2019.xpt')

dim(tbl1)

[1] 210771    179

In [49]:
head(tbl1)

  DISPCODE STATERE1 CELPHONE LADULT1 COLGSEX LANDSEX RESPSLCT SAFETIME CADULT1
1 1200     NA       NA       NA      NA      NA      NA       1        1
2 1200     NA       NA       NA      NA      NA      NA       1        1
3 1200     NA       NA       NA      NA      NA      NA       1        1
4 1200     NA       NA       NA      NA      NA      NA       1        1
5 1200     NA       NA       NA      NA      NA      NA       1        1
6 1200     NA       NA       NA      NA      NA      NA       1        1
  CELLSEX ... _VEG23A _FRUITE1 _VEGETE1 _FLSHOT7 _PNEUMO3 _AIDTST4 _MMSA
1 1       ... 1       0        0        NA       NA       2        10100
2 1       ... 1       0        0        NA       NA       2        10100
3 1       ... 1       0        1        NA       NA       1        10100
4 2       ... 1       0        0        NA       NA       1        10100
5 1       ... 1       0        0        NA       NA       2        10100
6 1       ... 1       0        0        NA       NA       2        10100
  _MMSAWT   SEQNO     MMSANAME
1 111.21607 2.019e+09 Aberdeen, SD, Micropolitan Statistical Area
2 147.70381 2.019e+09 Aberdeen, SD, Micropolitan Statistical Area
3  68.25476 2.019e+09 Aberdeen, SD, Micropolitan Statistical Area
4 209.27742 2.019e+09 Aberdeen, SD, Micropolitan Statistical Area
5  81.70571 2.019e+09 Aberdeen, SD, Micropolitan Statistical Area
6  88.92933 2.019e+09 Aberdeen, SD, Micropolitan Statistical Area

In [50]:
colnames(tbl1)

  [1] "DISPCODE" "STATERE1" "CELPHONE" "LADULT1"  "COLGSEX"  "LANDSEX"
  [7] "RESPSLCT" "SAFETIME" "CADULT1"  "CELLSEX"  "HHADULT"  "SEXVAR"
 [13] "GENHLTH"  "PHYSHLTH" "MENTHLTH" "POORHLTH" "HLTHPLN1" "PERSDOC2"
 [19] "MEDCOST"  "CHECKUP1" "BPHIGH4"  "BPMEDS"   "CHOLCHK2" "TOLDHI2"
 [25] "CHOLMED2" "CVDINFR4" "CVDCRHD4" "CVDSTRK3" "ASTHMA3"  "ASTHNOW"
 [31] "CHCSCNCR" "CHCOCNCR" "CHCCOPD2" "ADDEPEV3" "CHCKDNY2" "DIABETE4"
 [37] "DIABAGE3" "HAVARTH4" "ARTHEXER" "ARTHEDU"  "LMTJOIN3" "ARTHDIS2"
 [43] "JOINPAI2" "MARITAL"  "EDUCA"    "RENTHOM1" "NUMHHOL3" "NUMPHON3"
 [49] "CPDEMO1B" "VETERAN3" "EMPLOY1"  "CHILDREN" "INCOME2"  "WEIGHT2"
 [55] "HEIGHT3"  "PREGNANT" "DEAF"     "BLIND"    "DECIDE"   "DIFFWALK"
 [61] "DIFFDRES" "DIFFALON" "SMOKE100" "SMOKDAY2" "STOPSMK2" "LASTSMK2"
 [67] "USENOW3"  "ALCDAY5"  "AVEDRNK3" "DRNK3GE5" "MAXDRNKS" "EXERANY2"
 [73] "EXRACT11" "EXEROFT1" "EXERHMM1" "EXRACT21" "EXEROFT2" "EXERHMM2"
 [79] "STRENGTH" "FRUIT2"   "FRUITJU2" "FVGREEN1" "FRENCHF1" "POTATOE1"
 [85] "VEGETAB2" "FLUSHOT7" "FLSHTMY3" "TETANUS1" "PNEUVAC4" "HIVTST7"
 [91] "HIVTSTD3" "HIVRISK5" "_STSTR"   "_IMPSEX"  "CAGEG"    "_RFHLTH"
 [97] "_PHYS14D" "_MENT14D" "_HCVU651" "_RFHYPE5" "_CHOLCH2" "_RFCHOL2"
[103] "_MICHD"   "_LTASTH1" "_CASTHM1" "_ASTHMS1" "_DRDXAR2" "_LMTACT2"
[109] "_LMTWRK2" "_PRACE1"  "_MRACE1"  "_HISPANC" "_RACE"    "_RACEG21"
[115] "_RACEGR3" "_SEX"     "_AGEG5YR" "_AGE65YR" "_AGE80"   "_AGE_G"
[121] "WTKG3"    "_BMI5"    "_BMI5CAT" "_RFBMI5"  "_EDUCAG"  "_INCOMG"
[127] "_SMOKER3" "_RFSMOK3" "DRNKANY5" "_RFBING5" "_DRNKWK1" "_RFDRHV7"
[133] "_TOTINDA" "MAXVO21_" "FC601_"   "ACTIN12_" "ACTIN22_" "_MINAC11"
[139] "_MINAC21" "PAMISS2_" "PAMIN12_" "PAMIN22_" "PA2MIN_"  "PAVIG12_"
[145] "PAVIG22_" "PA2VIGM_" "_PACAT2"  "_PAINDX2" "_PA150R3" "_PA300R3"
[151] "_PA30022" "_PASTRNG" "_PAREC2"  "_PASTAE2" "FTJUDA2_" "FRUTDA2_"
[157] "GRENDA1_" "FRNCHDA_" "POTADA1_" "VEGEDA2_" "_MISFRT1" "_MISVEG1"
[163] "_FRTRES1" "_VEGRES1" "_FRUTSU1" "_VEGESU1" "_FRTLT1A" "_VEGLT1A"
[169] "_FRT16A"  "_VEG23A"  "_FRUITE1" "_VEGETE1" "_FLSHOT7" "_PNEUMO3"
[175] "_AIDTST4" "_MMSA"    "_MMSAWT"  "SEQNO"    "MMSANAME"

In [51]:
unique(tbl1[, '_MMSA'])
unique(tbl1[, 'MMSANAME'])

    _MMSA
1   10100
2   10380
3   10420
4   10580
5   10740
6   11260
7   12060
8   12260
9   12420
10  12580
11  12940
12  13140
13  13740
14  13820
15  13900
16  14260
17  14454
18  15380
19  15540
20  15764
21  16300
22  16620
23  16700
24  16740
25  16860
26  16980
27  17140
28  17460
29  17820
30  17900
... ...
107 40900
108 41060
109 41180
110 41420
111 41540
112 41620
113 41700
114 41940
115 41980
116 42644
117 43580
118 43620
119 44060
120 44140
121 45060
122 45220
123 45300
124 45780
125 45820
126 46140
127 46220
128 47260
129 47664
130 47894
131 47940
132 47980
133 48620
134 48864
135 49340
136 49660

    MMSANAME
1   Aberdeen, SD, Micropolitan Statistical Area
2   Aguadilla-Isabela, PR, Metropolitan Statistical Area
3   Akron, OH, Metropolitan Statistical Area
4   Albany-Schenectady-Troy, NY, Metropolitan Statistical Area
5   Albuquerque, NM, Metropolitan Statistical Area
6   Anchorage, AK, Metropolitan Statistical Area
7   Atlanta-Sandy Springs-Alpharetta, GA, Metropolitan Statistical Area
8   Augusta-Richmond County, GA-SC, Metropolitan Statistical Area
9   Austin-Round Rock-Georgetown, TX, Metropolitan Statistical Area
10  Baltimore-Columbia-Towson, MD, Metropolitan Statistical Area
11  Baton Rouge, LA, Metropolitan Statistical Area
12  Beaumont-Port Arthur, TX, Metropolitan Statistical Area
13  Billings, MT, Metropolitan Statistical Area
14  Birmingham-Hoover, AL, Metropolitan Statistical Area
15  Bismarck, ND, Metropolitan Statistical Area
16  Boise City, ID, Metropolitan Statistical Area
17  Boston, MA, Metropolitan Division
18  Buffalo-Cheektowaga, NY, Metropolitan Statistical Area
19  Burlington-South Burlington, VT, Metropolitan Statistical Area
20  Cambridge-Newton-Framingham, MA, Metropolitan Division
21  Cedar Rapids, IA, Metropolitan Statistical Area
22  Charleston, WV, Metropolitan Statistical Area
23  Charleston-North Charleston, SC, Metropolitan Statistical Area
24  Charlotte-Concord-Gastonia, NC-SC, Metropolitan Statistical Area
25  Chattanooga, TN-GA, Metropolitan Statistical Area
26  Chicago-Naperville-Elgin, IL-IN-WI, Metropolitan Statistical Area
27  Cincinnati, OH-KY-IN, Metropolitan Statistical Area
28  Cleveland-Elyria, OH, Metropolitan Statistical Area
29  Colorado Springs, CO, Metropolitan Statistical Area
30  Columbia, SC, Metropolitan Statistical Area
... ...
107 Sacramento-Roseville-Folsom, CA, Metropolitan Statistical Area
108 St. Cloud, MN, Metropolitan Statistical Area
109 St. Louis, MO-IL, Metropolitan Statistical Area
110 Salem, OR, Metropolitan Statistical Area
111 Salisbury, MD-DE, Metropolitan Statistical Area
112 Salt Lake City, UT, Metropolitan Statistical Area
113 San Antonio-New Braunfels, TX, Metropolitan Statistical Area
114 San Jose-Sunnyvale-Santa Clara, CA, Metropolitan Statistical Area
115 San Juan-Bayam<f3>n-Caguas, PR, Metropolitan Statistical Area
116 Seattle-Bellevue-Kent, WA, Metropolitan Division
117 Sioux City, IA-NE-SD, Metropolitan Statistical Area
118 Sioux Falls, SD, Metropolitan Statistical Area
119 Spokane-Spokane Valley, WA, Metropolitan Statistical Area
120 Springfield, MA, Metropolitan Statistical Area
121 Syracuse, NY, Metropolitan Statistical Area
122 Tallahassee, FL, Metropolitan Statistical Area
123 Tampa-St. Petersburg-Clearwater, FL, Metropolitan Statistical Area
124 Toledo, OH, Metropolitan Statistical Area
125 Topeka, KS, Metropolitan Statistical Area
126 Tulsa, OK, Metropolitan Statistical Area
127 Tuscaloosa, AL, Metropolitan Statistical Area
128 Virginia Beach-Norfolk-Newport News, VA-NC, Metropolitan Statistical Area
129 Warren-Troy-Farmington Hills, MI, Metropolitan Division
130 Washington-Arlington-Alexandria, DC-VA-MD-WV, Metropolitan Division
131 Waterloo-Cedar Falls, IA, Metropolitan Statistical Area
132 Watertown, SD, Micropolitan Statistical Area
133 Wichita, KS, Metropolitan Statistical Area
134 Wilmington, DE-MD-NJ, Metropolitan Division
135 Worcester, MA-CT, Metropolitan Statistical Area
136 Youngstown-Warren-Boardman, OH-PA, Metropolitan Statistical Area

### MSU dataset - Correlates of State Policy

Downloaded from: http://ippsr.msu.edu/public-policy/correlates-state-policy

MSU has a dataset on correlates of state policy (CSPP)

There are two data files - the full csv dataset and the excel file with sub-categories

In [87]:
tbl = read.csv('../../Data/MSU_CSPP/cspp_june_2021.csv', header = T, stringsAsFactors = F)

In [54]:
dim(tbl)
head(tbl)

[1] 6281 2142

  year st stateno state      state_fips state_icpsr popdensity popfemale
1 1900 AL 1       Alabama    1          41          NA         NA
2 1900 AK 2       Alaska     2          81          NA         NA
3 1900 AZ 3       Arizona    4          61          NA         NA
4 1900 AR 4       Arkansas   5          42          NA         NA
5 1900 CA 5       California 6          71          NA         NA
6 1900 CO 6       Colorado   8          62          NA         NA
  pctpopfemale popmale ... med_spending_own poptotal taxes taxrevcorporate
1 NA           NA      ... NA               1830000  NA    NA
2 NA           NA      ... NA                    NA  NA    NA
3 NA           NA      ... NA                124000  NA    NA
4 NA           NA      ... NA               1314000  NA    NA
5 NA           NA      ... NA               1490000  NA    NA
6 NA           NA      ... NA                543000  NA    NA
  total_debt_outstanding total_expenditure total_revenue popnohealthins
1 NA                     NA                NA            NA
2 NA                     NA                NA            NA
3 NA                     NA                NA            NA
4 NA                     NA                NA            NA
5 NA                     NA                NA            NA
6 NA                     NA                NA            NA
  popprivhealthins popgovhealthins
1 NA               NA
2 NA               NA
3 NA               NA
4 NA               NA
5 NA               NA
6 NA               NA

In [88]:
unique(tbl$year)

  [1] 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914
 [16] 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929
 [31] 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944
 [46] 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 [61] 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974
 [76] 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 [91] 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
[106] 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019

In [57]:
unique(tbl$cwinetex)

 [1]     NA 0.6000 0.4200 0.7500 0.0100 0.2000 0.2500 0.8000 1.1500 1.5000
[11] 0.2300 0.4000 0.5000 0.1100 0.3000 0.4560 0.2700 0.3500 0.1000 0.2400
[21] 0.3600 1.0800 1.1000 0.1320 0.0000 0.1690 0.4500 0.1700 0.1950 0.5500
[31] 1.7500 0.7600 0.8500 0.6500 0.2800 1.5200 0.4700 0.9000 0.7700 1.0000
[41] 0.5100 0.1800 0.7900 0.2600 1.7000 0.8400 2.2500 1.5100 0.9500 0.1200
[51] 0.6700 0.8200 0.3400 0.6300 0.2040 2.8400 1.7100 1.0200 1.3000 0.7200
[61] 0.9300 0.1900 0.8700 0.9700 1.0600 0.3200 0.7000 1.2900 1.3200 0.8800
[71] 1.3400 1.4400 1.3600 0.9900 1.3800 0.2750 0.7300 0.1893 0.7800 2.5000
[81] 1.2100 0.8600 0.4270 1.3900 0.8750 1.4200 3.5600 1.1800 1.2700 1.3500
[91] 3.3000 1.4000

In [63]:
codebook = read.csv('../../Data/MSU_CSPP/codebook.csv', header = T, stringsAsFactors = F)

In [60]:
dim(codebook)
tail(codebook)

[1] 2134   12

     variable                   years
2129 percentForeignBorn         decadal years from 1900-2010
2130 percentUrban               decadal years from 1900-2010
2131 percentWorkInManufacturing decadal years from 1900-2010
2132 inflation                  1978-2017
2133 inflation_nt               1978-2017
2134 inflation_t                1978-2017
     short_desc
2129 the percentage of the population identified as foreign-born by the Census
2130 the percentage of the population identified as living in urban areas by the Census. To maximize consistency of the definition of â\200œurbanâ\200\235 across Census years, Census respondents were generally coded as living in urban areas if the Census â\200œmetroâ\200\235 variable indicated that they were living in a â\200œmetro area.â\200\235 The â\200œmetroâ\200\235 variable is unavailable in 1970 and 1990 Census data; in these cases, I used the closely related â\200œmetareaâ\200\235 variable. As with most coding of urban residence in the United States, this coding is generous: for example, counties that contain more than 10,000 people are considered â\200œurbanâ\200\235 by this coding, and the entire state of New Jersey is coded as â\200œurbanâ\200\235 from 2000 to the present. See http://usa.ipums.org/usa-action/variables/alphabetical?id=M for more information about the definitions of the â\200œmetroâ\200\235 and â\200œmetareaâ\200\235 variables
2131 the percentage of the population identified as living in urban areas by the Census when the respondent was 14, in the state in which he lived when he was 14
2132 Annual inflation rate in the state and year
2133 Annual inflation rate in the non-tradeable sector in state and year
2134 Annual inflation rate in the tradeable sector in state and year
     long_desc
2129 the percentage of the population identified as foreign-born by the Census
2130 the percentage of the population identified as living in urban areas by the Census. To maximize consistency of the definition of â\200œurbanâ\200\235 across Census years, Census respondents were generally coded as living in urban areas if the Census â\200œmetroâ\200\235 variable indicated that they were living in a â\200œmetro area.â\200\235 The â\200œmetroâ\200\235 variable is unavailable in 1970 and 1990 Census data; in these cases, I used the closely related â\200œmetareaâ\200\235 variable. As with most coding of urban residence in the United States, this coding is generous: for example, counties that contain more than 10,000 people are considered â\200œurbanâ\200\235 by this coding, and the entire state of New Jersey is coded as â\200œurbanâ\200\235 from 2000 to the present. See http://usa.ipums.org/usa-action/variables/alphabetical?id=M for more information about the definitions of the â\200œmetroâ\200\235 and â\200œmetareaâ\200\235 variables
2131 the percentage of the population identified as living in urban areas by the Census when the respondent was 14, in the state in which he lived when he was 14
2132 Annual inflation rate in the state and year
2133 Annual inflation rate in the non-tradeable sector in state and year
2134 Annual inflation rate in the tradeable sector in state and year
     sources category
2129 NA      demographics
2130 NA      demographics
2131 NA      demographics
2132 NA      economic-fiscal
2133 NA      economic-fiscal
2134 NA      economic-fiscal
     plaintext_cite
2129 Bullock, John G. "Education and attitudes toward redistribution in the United States." British Journal of Political Science (2020): 1-21.
2130 Bullock, John G. "Education and attitudes toward redistribution in the United States." British Journal of Political Science (2020): 1-21.
2131 Bullock, John G. "Education and attitudes toward redistribution in the United States." British Journal of Political Science (2020): 1-21.
2132 Hazell, Jonathon, Juan HerreÃ±o, Emi Nakamura, and JÃ³n Steinsson. The slope of the Phillips Curve: evidence from US states. No. w28005. National Bureau of Economic Research, 2020.
2133 Hazell, Jonathon, Juan HerreÃ±o, Emi Nakamura, and JÃ³n Steinsson. The slope of the Phillips Curve: evidence from US states. No. w28005. National Bureau of Economic Research, 2020.
2134 Hazell, Jonathon, Juan HerreÃ±o, Emi Nakamura, and JÃ³n Steinsson. The slope of the Phillips Curve: evidence from US states. No. w28005. National Bureau of Economic Research, 2020.
     bibtex_cite
2129 @article{bullock2020education,\n  title={Education and attitudes toward redistribution in the United States},\n  author={Bullock, John G},\n  journal={British Journal of Political Science},\n  pages={1--21},\n  year={2020},\n  publisher={Cambridge University Press}\n}
2130 @article{bullock2020education,\n  title={Education and attitudes toward redistribution in the United States},\n  author={Bullock, John G},\n  journal={British Journal of Political Science},\n  pages={1--21},\n  year={2020},\n  publisher={Cambridge University Press}\n}
2131 @article{bullock2020education,\n  title={Education and attitudes toward redistribution in the United States},\n  author={Bullock, John G},\n  journal={British Journal of Political Science},\n  pages={1--21},\n  year={2020},\n  publisher={Cambridge University Press}\n}
2132 @techreport{hazell2020slope,\n  title={The slope of the Phillips Curve: evidence from US states},\n  author={Hazell, Jonathon and Herreno, Juan and Nakamura, Emi and Steinsson, Jon},\n  year={2020},\n  institution={National Bureau of Economic Research}\n}
2133 @techreport{hazell2020slope,\n  title={The slope of the Phillips Curve: evidence from US states},\n  author={Hazell, Jonathon and Herreno, Juan and Nakamura, Emi and Steinsson, Jon},\n  year={2020},\n  institution={National Bureau of Economic Research}\n}
2134 @techreport{hazell2020slope,\n  title={The slope of the Phillips Curve: evidence from US states},\n  author={Hazell, Jonathon and Herreno, Juan and Nakamura, Emi and Steinsson, Jon},\n  year={2020},\n  institution={National Bureau of Economic Research}\n}
     plaintext_cite2 bibtex_cite2 plaintext_cite3 bibtex_cite3
2129 NA              NA           NA              NA
2130 NA              NA           NA              NA
2131 NA              NA           NA              NA
2132 NA              NA           NA              NA
2133 NA              NA           NA              NA
2134 NA              NA           NA              NA

In [61]:
unique(codebook$category)

 [1] "demographics"     "economic-fiscal"  NA                 "environment"
 [5] "government"       "elections"        "policy-ideology"  "criminal justice"
 [9] "education"        "healthcare"       "welfare"          "rights"
[13] "drug-alcohol"     "gun control"      "labor"            "transportation"
[17] "misc. regulation"

In [64]:
codebook[codebook$variable == 'cwinetex',]

     variable years     short_desc
1708 cwinetex 1969-2015 Wine excise tax
     long_desc
1708 Wine excise tax (dollars per gallon of wine, less than 14% alcohol by volume, off-premise sales; if sales tax is not applied, that amount is deducted)
     sources
1708 Sorens, Jason, Fait Muedini, and William P. Ruger. 'State and Local Public Policies in 2006: A New Database.' State Politics & Policy Quarterly 8.3 (2008): 309-26.
     category     plaintext_cite bibtex_cite plaintext_cite2 bibtex_cite2
1708 drug-alcohol NA             NA          NA              NA
     plaintext_cite3 bibtex_cite3
1708 NA              NA

In [66]:
dim(tbl[, c('year', 'state', 'cwinetex')] %>% drop_na())
head(tbl[, c('year', 'state', 'cwinetex')] %>% drop_na())

[1] 2230    3

     year state       cwinetex
3521 1969 Alaska      0.60
3522 1969 Arizona     0.42
3523 1969 Arkansas    0.75
3524 1969 California  0.01
3525 1969 Colorado    0.20
3526 1969 Connecticut 0.25

### Tax returns by zip code

Downloaded from: https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi

The IRS shares annual tax returns by zip code, available from 1998 to 2018.
Data for each year needs to be obtained manually.

In [70]:
taxes = read.csv('../../Data/Tax_by_zip/18zpallnoagi.csv', header = T, stringsAsFactors = F)
taxes_with_agi = read.csv('../../Data/Tax_by_zip/18zpallagi.csv', header = T, stringsAsFactors = F)

In [71]:
dim(taxes)
head(taxes)
dim(taxes_with_agi)
head(taxes_with_agi)

[1] 27658   153

  STATEFIPS STATE ZIPCODE AGI_STUB N1      MARS1  MARS2  MARS4  ELF     CPREP
1 1         AL        0   0        2036290 853350 746450 393790 1851240 93480
2 1         AL    35004   0           5200   2150   2100    820    4730   260
3 1         AL    35005   0           3190   1410    840    890    2880   160
4 1         AL    35006   0           1240    490    590    140    1120    40
5 1         AL    35007   0          12050   4840   5180   1740   10580   840
6 1         AL    35010   0           7840   3010   2700   2000    7290   290
  ... N85300 A85300 N11901 A11901  N11900  A11900  N11902  A11902  N12000
1 ... 36360  140470 388540 1734772 1602800 5324632 1570180 4701007 36520
2 ...    20      63   1000    3171    4090   11131    4050   10654    50
3 ...     0       0    530    1179    2630    7589    2630    7558     0
4 ...     0       0    200     498    1010    2834    1010    2793     0
5 ...   100     307   2780   11619    9020   24590    8900   23889   150
6 ...   110     498   1300    5018    6370   21697    6210   19500   180
  A12000
1 559783
2    433
3      0
4      0
5    668
6   2176

[1] 165935    153

  STATEFIPS STATE zipcode agi_stub N1     mars1  MARS2  MARS4  ELF    CPREP ...
1 1         AL    0       1        768120 466830  90960 198750 696930 37470 ...
2 1         AL    0       2        503430 225110 130060 134320 457510 23180 ...
3 1         AL    0       3        274590  95560 131770  41020 248630 13210 ...
4 1         AL    0       4        174830  35560 123370  12700 159190  6830 ...
5 1         AL    0       5        245150  25990 207950   6480 224280 10500 ...
6 1         AL    0       6         70170   4300  62340    520  64700  2290 ...
  N85300 A85300 N11901 A11901 N11900 A11900  N11902 A11902  N12000 A12000
1     0       0 59030   50007 669420 1732176 666750 1725286  2730    4220
2     0       0 77300  111047 424280 1230668 420960 1220934  4110    9399
3     0       0 68920  148870 205830  562490 201770  550675  5790   15182
4     0       0 47730  136776 126560  403410 122610  388967  3730   13784
5    50      58 98980  446992 145780  598498 137120  521691  9850   65917
6 36310  140412 36580  841080  30930  797390  20970  293454 10310  451281

In [76]:
head(taxes[, c('ZIPCODE', 'N1', 'A00100', 'A02650', 'A10300', 'A11901', 'A11902')], 20)

   ZIPCODE N1      A00100    A02650    A10300   A11901  A11902
1      0   2036290 125478058 126761741 13938078 1734772 4701007
2  35004      5200    302269    304546    26082    3171   10654
3  35005      3190    130555    131420     8913    1179    7558
4  35006      1240     65411     65797     5295     498    2793
5  35007     12050    743431    750814    71665   11619   23889
6  35010      7840    410413    414405    40869    5018   19500
7  35014      1600     79981     80525     6782     692    3707
8  35016      7210    385033    388852    34720    4284   15492
9  35019       890     44467     44852     3152     190    2275
10 35020      8950    254213    256135    13754    1914   26161
11 35022     10170    597418    602679    57082    7665   20659
12 35023     10120    500960    504877    39815    4860   22968
13 35031      2960    132958    134351     9869    1260    7115
14 35033      1370     78406     78982     7225     940    3657
15 35034      1310     53827     54267     3790     430    3738
16 35035       570     50773     51044     8307    5611    1325
17 35040      7880    451614    455660    41792    4845   17533
18 35042      2240    109244    109974     8430     906    5530
19 35043      5610    496527    501704    58380    8078   10855
20 35044      3110    139751    141028    11328    1277    7552

In [77]:
# The columns correspond to - total returns, AGI, total income, total tax liability, tax due and tax refunds
head(taxes_with_agi[,c('zipcode', 'agi_stub', 'N1', 'A00100', 'A02650', 'A10300', 'A11901', 'A11902')], 20)

   zipcode agi_stub N1     A00100   A02650   A10300  A11901 A11902
1      0   1        768120 10119915 10261015  272245  50007 1725286
2      0   2        503430 18156451 18322144  834109 111047 1220934
3      0   3        274590 16867358 17015570 1178827 148870  550675
4      0   4        174830 15167919 15290801 1250551 136776  388967
5      0   5        245150 33353413 33654113 3827935 446992  521691
6      0   6         70170 31813002 32218098 6574411 841080  293454
7  35004   1          1460    18893    19181     566    118    2645
8  35004   2          1330    49466    49983    2432    275    2942
9  35004   3           990    60672    61077    4229    322    2020
10 35004   4           610    52969    53266    4105    319    1352
11 35004   5           740    97044    97539   10632   1091    1560
12 35004   6            70    23225    23500    4118   1046     135
13 35005   1          1280    17401    17588     417     66    3108
14 35005   2           990    35770    36046    1463    162    2538
15 35005   3           490    29888    30118    1982    297    1021
16 35005   4           240    20690    20758    1757    218     552
17 35005   5           190    26806    26910    3294    436     339
18 35005   6             0        0        0       0      0       0
19 35006   1           390     5037     5090     158     36     688
20 35006   2           340    12242    12322     596     49     755

### Annual surveys of sectors from census.gov

Data available at: https://www.census.gov/about/index.html

There are 6, macroeconomic (aggregate over the whole nation) annual surveys that might be worth looking into:

- Annual Capital Expenditures Survey (ACES)
- Annual Retail Trade Survey
- Annual Service Survey
- Annual Survey of Manufactures (ASM)
- Monthly & Annual Wholesale Trade Survey
- Annual Survey of Entrepreneurs (ASE)

The ASM also has state-level data with sales and payroll info - I've downloaded PA data for example:

In [80]:
tbl = read.csv('../../Data/ASM/2021_example_PA.csv', header = T, stringsAsFactors = F)

In [81]:
dim(tbl)
head(tbl)

[1] 217 116

  GEO_ID      GEO_ID_F     NAME                 NAICS2017
1 id          Geo Footnote Geographic Area Name 2017 NAICS code
2 0400000US42 null         Pennsylvania         31-33
3 0400000US42 null         Pennsylvania         31-33
4 0400000US42 null         Pennsylvania         311
5 0400000US42 null         Pennsylvania         311
6 0400000US42 null         Pennsylvania         3111
  NAICS2017_F         INDLEVEL       NAICS2017_LABEL           SUBSECTOR
1 2017 NAICS Footnote Industry level Meaning of NAICS code     SUBSECTOR
2 null                2              Manufacturing             null
3 null                2              Manufacturing             null
4 null                3              Food manufacturing        311
5 null                3              Food manufacturing        311
6 null                4              Animal food manufacturing 311
  SECTOR                 INDGROUP       ...
1 NAICS economic sector  Industry group ...
2 31                     null           ...
3 31                     null           ...
4 31                     null           ...
5 31                     null           ...
6 31                     3111           ...
  PCHADVT_S
1 Relative standard error for estimate of advertising and promotional services (%)
2 N
3 N
4 N
5 N
6 N
  PCHPRTE
1 Purchased professional and technical services ($1,000)
2 N
3 N
4 N
5 N
6 N
  PCHPRTE_S
1 Relative standard error for estimate of purchased professional and technical services (%)
2 N
3 N
4 N
5 N
6 N
  PCHTAX
1 Taxes and license fees ($1,000)
2 N
3 N
4 N
5 N
6 N
  PCHTAX_S
1 Relative standard error for estimate of taxes and license fees (%)
2 N
3 N
4 N
5 N
6 N
  PCHOEXP
1 All other operating expenses ($1,000)
2 N
3 N
4 N
5 N
6 N
  PCHOEXP_S
1 Relative standard error for estimate of all other operating expenses (%)
2 N
3 N
4 N
5 N
6 N
  RCPTOT_IMP
1 Range indicating percent of total sales, value of shipments, or revenue imputed
2 40% to less than 50%
3 40% to less than 50%
4 40% to less than 50%
5 40% to less than 50%
6 40% to less than 50%
  PAYANN_IMP
1 Range indicating percent of total annual payroll imputed
2 20% to less than 30%
3 30% to less than 40%
4 30% to less than 40%
5 30% to less than 40%
6 60% to less than 70%
  EMP_IMP
1 Range indicating percent of total employees imputed
2 40% to less than 50%
3 40% to less than 50%
4 40% to less than 50%
5 40% to less than 50%
6 70% to less than 80%

In [82]:
unique(tbl$NAICS2017)

  [1] "2017 NAICS code" "31-33"           "311"             "3111"
  [5] "3112"            "3113"            "3114"            "3115"
  [9] "3116"            "3117"            "3118"            "3119"
 [13] "312"             "3121"            "3122"            "313"
 [17] "3131"            "3132"            "3133"            "314"
 [21] "3141"            "3149"            "315"             "3151"
 [25] "3152"            "3159"            "316"             "3161"
 [29] "3162"            "3169"            "321"             "3211"
 [33] "3212"            "3219"            "322"             "3221"
 [37] "3222"            "323"             "3231"            "324"
 [41] "3241"            "325"             "3251"            "3252"
 [45] "3253"            "3254"            "3255"            "3256"
 [49] "3259"            "326"             "3261"            "3262"
 [53] "327"             "3271"            "3272"            "3273"
 [57] "3274"            "3279"            "331"             "3311"
 [61] "3312"            "3313"            "3314"            "3315"
 [65] "332"             "3321"            "3322"            "3323"
 [69] "3324"            "3325"            "3326"            "3327"
 [73] "3328"            "3329"            "333"             "3331"
 [77] "3332"            "3333"            "3334"            "3335"
 [81] "3336"            "3339"            "334"             "3341"
 [85] "3342"            "3343"            "3344"            "3345"
 [89] "3346"            "335"             "3351"            "3352"
 [93] "3353"            "3359"            "336"             "3361"
 [97] "3362"            "3363"            "3364"            "3365"
[101] "3366"            "3369"            "337"             "3371"
[105] "3372"            "3379"            "339"             "3391"
[109] "3399"